
.page{
  display: flex;
    flex-direction: column;
    background-color: #EAEDED;
    width: 100%;
}
div#cat ,.our_serv {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
}
.details {
  background-color: white;
}
.featured_cat {
  font-size: 31px;
  display: flex;
  height: 100%;
}
.nav_cat{
  list-style-type: none;
  text-align: center;
  line-height: 37px;
}
.bannertxt {
  transform: rotate(90deg);
  margin-top: 376px;
}
div#page-content-left {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  width: 100%;
  margin-left: 66px;
  margin-top: 2%;;
}
div#catinner, div#comparision {
  display: flex;
  justify-content: space-around;
}
.search{
  border-radius: 30px;
  border: 1px solid black;
  margin: 35px;
  width: 100px;
  height: 18px;
  background-color: cornflowerblue;
  color: white;
}
        * {
            border: 1px solid black;
            margin: 0.5px;
            padding: 0.5px;
        }
        .container {
    width: 100% !important;
      /* background-color: white; */
}

         div#spacing {
        height: 75px;
        background-color: #EAEDED;
     }
     .nav_last, .nav_first {
    list-style-type: none;
    text-align: center;
    
    }
    .body {
      display: flex;
      flex-basis: 60%;
      background: #EAEDED;
      margin-top: -1%;
  }

        .inner2 {
            outline: none;
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: groove;
            background-color: #eee;
        }
        .nav_footer{
            text-align: initial;
            list-style-type: none;
   
        }

        .nav_a {
          color:white;
      }
        a.nav_a,
        li.nav_first {
            outline: none;
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;

        }
.pro_buy{
        background-color: cornflowerblue;
        text-align: center;
         height: 0%;
        margin-top: 16%;
        position: relative;
         width: 84%;
         justify-content: space-around;
         padding: 50px;
         margin-left: 8%;
    }
    .main_page{
      display:flex;flex-direction:column;
    background-color: black;
    width: 100%;
    }
    form {
      text-align: center;
  }
    .pro4{
    border-style: solid;
    border-color: coral;
    background-color: white;
    height: 16%;
    width: 100%;
    }
    button.Chat_For_Query, button.add-to-cart {
      width: 100%;
  }
  span.fas.fa-comment-dots {
    background-color: cornflowerblue;
}

  button.add-to-cart
  {
    background-color: cornflowerblue;
  }
    .largeimage 
    {
      width: 100%;
      height: 100%;
    }
    .news{ background-color: white;
    width: 100%;
    height: 14%;
    border-style: solid;
    border-color: cornflowerblue;
    text-align: center;
    }        
    .nav-sprite {
    width: 93.5%;
    margin-left: 60px;
    }
    .head_but{
    background-color: #232f3e;
    height: 202%;
    }
    .nav_last{ 
    line-height: 37px;
    }
    .more_cat{
    padding-left: 60px;
    padding: 20px;
    color: peru;
    margin-top: 0px;
    text-align: -webkit-center;
    }

    .our_serv{
    background-color: cornflowerblue;
    color: white;
    }
    .main_banner{
    border-style: solid;
    border-color: coral;
    background-color: white;
    height: 50%;
    width: 100%;
    }
    .search{
    border-radius: 30px;
    border: 1px solid black;
    margin: 35px;
    width: 100px;
    height: 18px;
    background-color: cornflowerblue;
    color: white;
    }
    
button.add-to-cart.btn.btn-default.Buynow {
    width: 26% !important;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: -3px !important;
}
img.firstimg {
    height: 56.03px;
}
span.fa.fa-shopping-cart, span.fa.fa-heart {
    font-size: 148%;
}
.action1 {
    width: 110%;
}
button.add-to-cart1 , button.whishlist, button.compear{
    color: black;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    background-color: white;
}
button.whishlist {
    padding: 1.2em 1.5em;
}
.a-spacing-small {
    text-align: end;
}
.Buynow {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    margin-top: -4%;
}
.reviews 
{
    margin-bottom: 5px;
     margin-bottom: 5px;
     color: #007bff;
      margin-right: 22.5rem;
       font-size: 19px;
}
.reply {
    margin-left: -201px;
    margin-bottom: 5px;
     color: #007bff;
      font-size: 19px;
}
span.review {
    padding-left: 167px;
    position: absolute!important;
    color: #00f;
    font-size: 12px;
    margin-top: -9px;
}
img.pic-1 {
    width: 5%;
    margin-top: -80px;
    margin-left: 318px;
    padding-top: 4px;
}
.col-md-6 {
  background: #eee;
  width: 100%;
  margin-top: -1%;
  background-color: white;
}
span.mrp1 {
    text-decoration-line: line-through;
}
p.saving {
    color: green;
}
p.product-stock {
    color: green;
    text-align: center;
}

body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

            .card {
              margin-top: 50px;
              background: #eee;
              padding: 3em;
              line-height: 1.5em;
              background-color: white;
          }
@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

    