<div id="page-content" class="body">
    <div id="page-content-left">
        <div id="left-ele-1 Category " style="width: 100%;  background-color: white; border-style: solid; border-color: white; height: 423px;">
            <div id="cat" >
             Category
            </div>
  <li class="nav_cat"  ><a href="#" class="cat_nav" style="color: black;">Food supplements</a></li>
  <li class="nav_last" ><a href="#" class="cat_nav" style="color: black;">Grocery and Households</a></li>
  <li class="nav_last" ><a href="#" class="cat_nav" style="color: black;">Beauty Health</a></li>
  <li class="nav_last" ><a href="#" class="cat_nav" style="color: black;">Sports Fitness</a></li>
  <li class="nav_last" ><a href="#" class="cat_nav" style="color: black;">Gift Cards</a></li>
  <li class="nav_last" ><a href="#" class="cat_nav" style="color: black;">Home Appliences</a></li>
  <li class="nav_last" ><a href="#" class="nav_a" style="color: black;">Child Care</a></li>
  
  
      <div id="cat22" class="more_cat">+ More Categories</div>
  </div>
  <div id="spacing"> </div>
        <div id="left-ele-2 OurServices" style="width: 100%;background-color: white;height: 50%;border-style: solid;border-color: cornflowerblue;">
            <div id="ourservice" class="our_serv" > OurServices
            </div>
        </div>
  <div id="spacing" style=""> </div>
  
        <div id="left-ele-3 Banner" class="main_banner" >
    <div id="2" class="bannertxt">
  <span style="font-size: 299%;"> BANNER </span>
    </div> 
  </div>
  <div id="spacing"> </div>
  <div id="right-ele-4 LatestProducts" style="display:flex;flex-direction:column;background-color: white;width: 100%;border-style: solid;border-color: cornflowerblue;justify-content: space-around;">
    <div id="latest" style="background-color: cornflowerblue;color: white;padding: 5px;text-align: center;"> BestSellers
    </div>
    <div style="display:flex;flex-direction:column">
        <div style="display:flex;">
            <div style="width:60px;height:60px;margin:20px;border-style: solid;border-color: darkgray;"></div>
            <div style="display:flex;flex-direction:column">
                <div id="ProductName">
                    ProductName
                </div>
                <div id="MarketedBy">
                    MarketedBy : 2
                </div>
                <div id="Chat For Query">
                    <i class="fa fa-sms" style="/* font-size: 27px; *//* color: peru; *//* margin-left: 13px; */">
                    </i>
                    
                    Chat For Query
                </div>
            </div>
            <div style="display:flex;flex-direction:column">
                <div id="Rs500">
                    Rs.500
                </div>
                <div id="icon0" style="width: 22px;height: 25px;margin:20px;">
<i style="font-size: 23px;width: 22px;height: 25px;" class="fa"></i>

                </div>
            </div>
        </div>
        <div style="display:flex;">
            <div style="width:60px;height:60px;margin:20px;border-style: solid;border-color: darkgray;"></div>
            <div style="display:flex;flex-direction:column">
                <div id="ProductName">
                    ProductName
                </div>
                <div id="MarketedBy">
                    MarketedBy : 2
                </div>
                <div id="Chat For Query">
<i class="fa fa-sms"  font-size: 27px; *//* color: peru; *//* margin-left: 13px; */">
</i>
                    Chat For Query
                </div>
            </div>
            <div style="display:flex;flex-direction:column">
                <div id="Rs500">
                    Rs.500
                </div>
                <div id="icon0" style="width: 22px;height: 25px;margin:20px;">
<i style="font-size: 23px;width: 22px;height: 25px;" class="fa"></i>

                </div>
            </div>
        </div>
        <div style="display:flex;">
            <div style="width:60px;height:60px;margin:20px;border-style: solid;border-color: darkgray;"></div>
            <div style="display:flex;flex-direction:column">
                <div id="ProductName">
                    ProductName
                </div>
                <div id="MarketedBy">
                    MarketedBy : 2
                </div>
                <div id="Chat For Query">
                    <i class="fa fa-sms" style="/* font-size: 27px; *//* color: peru; *//* margin-left: 13px; */">
                    </i>
                    
                    Chat For Query
                </div>
            </div>
            <div style="display:flex;flex-direction:column">
                <div id="Rs500">
                    Rs.500
                </div>
                <div id="icon0" style="width: 22px;height: 25px;margin:20px;">
<i style="font-size: 23px;width: 22px;height: 25px;" class="fa"></i>

                </div>
            </div>
        </div>
        <div style="display:flex;">
            <div style="width:60px;height:60px;margin:20px;border-style: solid;border-color: darkgray;"></div>
            <div style="display:flex;flex-direction:column">
                <div id="ProductName">
                    ProductName
                </div>
                <div id="MarketedBy">
                    MarketedBy : 2
                </div>
                <div id="Chat For Query">
                    <i class="fa fa-sms" style="/* font-size: 27px; *//* color: peru; *//* margin-left: 13px; */">
                    </i>
                    
                    Chat For Query
                </div>
            </div>
            <div style="display:flex;flex-direction:column">
                <div id="Rs500">
                    Rs.500
                </div>
                <div id="icon0" style="width: 22px;height: 25px;margin:20px;">
<i style="font-size: 23px;width: 22px;height: 25px;" class="fa"></i>

                </div>
            </div>
        </div>
    </div>

</div>

       
  
  <div id="spacing" > </div>
  
  <div id="left-ele-6 FeaturedProduct4" class="pro4" >
         <span style="font-size: 22px;"> 
  FeaturedProduct4
      </span>  </div>

      <div id="spacing"> </div>

      <div id="left-ele-6 FeaturedProduct4.1" class="pro4">
         <span style="font-size: 22px;"> 
  FeaturedProduct3
      </span>  </div>
    </div>
    <div id="page-content-middle" style="display:flex;flex-direction:column;flex-basis:60%;width: 100%;margin-left: 6%;">
        
    <div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="https://rukminim1.flixcart.com/image/880/1056/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdzekstdyvuq.jpeg?q=50"></div>
                      <div class="tab-pane" id="pic-2"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdzecxzykysq.jpeg?q=70"></div>
                      <div class="tab-pane" id="pic-3"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdzegpp34wr2.jpeg?q=70"></div>
                      <div class="tab-pane" id="pic-4"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdze9fehzrdr.jpeg?q=70"></div>
                      <div class="tab-pane" id="pic-5"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdze9fehzrdr.jpeg?q=70"></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img class="firstimg" src="https://rukminim1.flixcart.com/image/880/1056/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdzekstdyvuq.jpeg?q=50"></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdzecxzykysq.jpeg?q=70"></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdzegpp34wr2.jpeg?q=70"></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdze9fehzrdr.jpeg?q=70"></a></li>
                      <li><a data-target="#pic-5" data-toggle="tab"><img src="https://rukminim1.flixcart.com/image/128/128/k5vcya80pkrrdj/shoe/y/r/c/6-mrj1346-aadi-original-imafzdze9fehzrdr.jpeg?q=70"></a></li>
                    </ul>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">PRODUCT NAME</h3>
                    <div class="rating">
                       
                       
                    </div>
                    <p class="product-manuf">MANUFACTURER NAME</p>
                    <p class="product-stock">In Stock</p>
                    <p class="product-description">PRODUCT DESCRIPTION</p>
                    <h4 class="mrp_price">MRP: <span class="mrp1">600Rs</span></h4>
                    <h4 class="org_price">price: <span>500Rs</span></h4>
                    <p class="saving">You Save 100Rs</p>
                    <p class="tax">inclusive all taxes</p>
                
                    <div id="quantityLayoutLow_feature_div" class="celwidget" data-feature-name="quantityLayoutLow" data-csa-c-id="xtv4tv-q69pfn-hhpw40-mrd09m" data-cel-widget="quantityLayoutLow_feature_div">
  
                    <div class="a-row a-spacing-mini" style="
                            width: 100%;
                            margin-bottom: 4px!important; ">
                        <div class="a-column a-span12 a-text-left a-spacing-small">
                        <div id="selectQuantity" class="a-section a-spacing-none a-padding-none">
                        <span class="a-declarative" data-action="quantity-dropdown" data-quantity-dropdown="{}">
                        <div class="a-row a-spacing-base">
                        <div class="a-column a-span12 a-text-left">
                            <span _ngcontent-qha-c117=""><span _ngcontent-qha-c117=""><button _ngcontent-qha-c117="" type="button" class="btn btn-default" style="padding: .05rem .45rem;"> - </button><span _ngcontent-qha-c117="" style="font-size: 12px;"> 00 Quantity 01 </span><button _ngcontent-qha-c117="" type="button" class="btn btn-default" style="padding: .05rem .45rem;"> + </button></span></span>
                                                     </div>
                        </div>
                        
                        </span>
                        </div>
                        
                        
                        <div class="action">
                            <button class="add-to-cart btn btn-default Buynow" type="button">BUY NOW</button>
                        </div>
                        
                        
                        </div>
                        
                        </div>
                       
                        </div>
                  
                    <div class="action1">
                        <button class="add-to-cart1 " type="button"><span class="fa fa-shopping-cart"></span>Add TO Cart
                        </button><button class="whishlist" type="button"><span class="fa fa-heart"></span>Whish List</button>
                        <button class="compear" type="button">Add To Compare</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-vdq-c117="" class="col-md-6">
        <div _ngcontent-vdq-c117=""><div _ngcontent-vdq-c117="" class="progress" style="height: 10px;width: 50%;">
            <div _ngcontent-vdq-c117="" class="progress-bar" style="width: 63%;">
                <span _ngcontent-vdq-c117="" class="review"> 5 </span>
            </div>
        </div>
        <img _ngcontent-vdq-c117="" src="assets/image/star.png" class="pic-1">
        <div _ngcontent-vdq-c117="">
            <button _ngcontent-vdq-c117="" type="button" class="btn btn-default reviews">Write a Review</button>
            <button _ngcontent-vdq-c117="" type="button" class="btn btn-default reply">Reply</button>
        </div>
       
    </div>
  </div>
  </div>                
  <div id="spacing" > </div>
  <div id="middle-ele-5 HomeDecor" style="display:flex;justify-content: space-around; height: 57%;">
            
  <div style="display:flex;flex-direction:column;background-color: white;width: 100%;
   /* height: 150%; */
   ">
              
  <div id ="1" class="featured_cat">
    <div id="scroll" style="height: 10px;width: 53px;background-color: peru;overflow-y: scroll;overflow-x: hidden;">
    </div>
    <h3>  FEATURED CATEGORIES</h3>
    <h3>  FEATURED CATEGORIES</h3>
    <h3>  FEATURED CATEGORIES</h3>
    </div>
              
       
  <div id="spacing"> </div>
  
        
  <div>
    <div id="comp2">
        <h3>comparision</h3>
    </div>
    <div _ngcontent-pfm-c16="" id="comparision">

       <div id="comparision1">

        <div _ngcontent-pfm-c16="" style="width: 100px; height: 100px; margin: 20px; border-style: solid; border-color: darkgray;">  </div>
        <div _ngcontent-fib-c16="" id="ProductName"> ProductName </div>
        <div _ngcontent-fib-c16="" id="Chat For Query">
             <button _ngcontent-qux-c16="" type="button" class=" Chat_For_Query">
            <span _ngcontent-qux-c16="" class="fas fa-comment-dots"></span>
            Chat For Query
           </button> </div>
        <div _ngcontent-fib-c16="" id="add_to_cart">
             <button _ngcontent-qux-c16="" type="button" class="add-to-cart">
                 <span _ngcontent-qux-c16="" class="fa fa-shopping-cart"></span>
                 Add TO Cart 
                </button> 
            </div>
  </div>
    <div id="comparision1.2">

        <div _ngcontent-pfm-c16="" style="width: 100px; height: 100px; margin: 20px; border-style: solid; border-color: darkgray;">  </div>
        <div _ngcontent-fib-c16="" id="ProductName"> ProductName </div>
        <div _ngcontent-fib-c16="" id="Chat For Query">
             <button _ngcontent-qux-c16="" type="button" class="Chat_For_Query">
            <span _ngcontent-qux-c16="" class="fas fa-comment-dots"></span>
            Chat For Query
           </button> </div>
        <div _ngcontent-fib-c16="" id="add_to_cart">
             <button _ngcontent-qux-c16="" type="button" class="add-to-cart">
                 <span _ngcontent-qux-c16="" class="fa fa-shopping-cart"></span>
                 Add TO Cart 
                </button> 
            </div>
    </div>
    
    <div id="comparision1.3">

        <div _ngcontent-pfm-c16="" style="width: 100px; height: 100px; margin: 20px; border-style: solid; border-color: darkgray;">  </div>
        <div _ngcontent-fib-c16="" id="ProductName"> ProductName </div>
        <div _ngcontent-fib-c16="" id="Chat For Query">
             <button _ngcontent-qux-c16="" type="button" class="Chat_For_Query">
            <span _ngcontent-qux-c16="" class="fas fa-comment-dots"></span>
            Chat For Query
           </button> </div>
        <div _ngcontent-fib-c16="" id="add_to_cart">
             <button _ngcontent-qux-c16="" type="button" class="add-to-cart">
                 <span _ngcontent-qux-c16="" class="fa fa-shopping-cart"></span>
                 Add TO Cart 
                </button> 
            </div>
    </div>
  </div>
  <div id="spacing"> </div>   
  <div>
  <div id="comp2">
      <h3>comparision</h3>
  </div>
  <div _ngcontent-pfm-c16="" id="comparision">
    <div id="comparision2">

        <div _ngcontent-pfm-c16="" style="width: 100px; height: 100px; margin: 20px; border-style: solid; border-color: darkgray;"> 
            <img class="largeimage" src="https://www.jiomart.com/images/product/420x420/590111001/barilla-napoletana-pasta-sauce-400-g-0-20201210.jpg" alt="Barilla Napoletana Pasta Sauce 400 g" data-index="0"> </div>
        <div _ngcontent-fib-c16="" id="ProductName"> ProductName </div>
        <div _ngcontent-fib-c16="" id="Chat For Query">
             <button _ngcontent-qux-c16="" type="button" class="Chat_For_Query">
            <span _ngcontent-qux-c16="" class="fas fa-comment-dots"></span>
            Chat For Query
           </button> </div>
        <div _ngcontent-fib-c16="" id="add_to_cart">
             <button _ngcontent-qux-c16="" type="button" class="add-to-cart">
                 <span _ngcontent-qux-c16="" class="fa fa-shopping-cart"></span>
                 Add TO Cart 
                </button> 
            </div>
    </div>
    
    <div id="comparision2.1">

        <div _ngcontent-pfm-c16="" style="width: 100px; height: 100px; margin: 20px; border-style: solid; border-color: darkgray;">  </div>
        <div _ngcontent-fib-c16="" id="ProductName"> ProductName </div>
        <div _ngcontent-fib-c16="" id="Chat For Query">
             <button _ngcontent-qux-c16="" type="button" class="Chat_For_Query">
            <span _ngcontent-qux-c16="" class="fas fa-comment-dots"></span>
            Chat For Query
           </button> </div>
        <div _ngcontent-fib-c16="" id="add_to_cart">
             <button _ngcontent-qux-c16="" type="button" class="add-to-cart">
                 <span _ngcontent-qux-c16="" class="fa fa-shopping-cart"></span>
                 Add TO Cart 
                </button> 
            </div>
    </div>
    <div id="comparision2.3">

        <div _ngcontent-pfm-c16="" style="width: 100px; height: 100px; margin: 20px; border-style: solid; border-color: darkgray;">  </div>
        <div _ngcontent-fib-c16="" id="ProductName"> ProductName </div>
        <div _ngcontent-fib-c16="" id="Chat For Query">
             <button _ngcontent-qux-c16="" type="button" class="Chat_For_Query">
            <span _ngcontent-qux-c16="" class="fas fa-comment-dots"></span>
            Chat For Query
           </button> </div>
        <div _ngcontent-fib-c16="" id="add_to_cart">
             <button _ngcontent-qux-c16="" type="button" class="add-to-cart">
                 <span _ngcontent-qux-c16="" class="fa fa-shopping-cart"></span>
                 Add TO Cart 
                </button> 
            </div>
        </div>
</div>
  </div>
  